@model inventoryAppDomain.Entities.DrugCategory
@{
    ViewBag.Title = "AddDrugCategory";
    ViewBag.CurrentPage = "Add Drug Category";

}



<!-- Modal Edit -->
<div class="modal fade" id="edit-note" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="popup text-left">
                    <div class="media align-items-top justify-content-between">
                        <h3 class="mb-3">Add Drug Category</h3>
                        <div class="btn-cancel p-0" data-dismiss="modal"><i class="las la-times"></i></div>
                    </div>
                    <div class="content edit-notes">
                        <div class="card card-transparent card-block card-stretch event-note mb-0">
                            <div class="card-body px-0 bukmark">
                                <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">
                                    <div class="quill-tool">
                                    </div>
                                </div>
                                <div id="quill-toolbar1">
                                    @if ((string)TempData["categoryAdded"] == "added")
                                    {
                                        @Html.Partial("_SwaSuccessPartial")
                                    }

                                    @if ((string)TempData["failedToAddCategory"] == "failed")
                                    {
                                        @Html.Partial("_ErrorNotificationPartial")
                                    }

                                    @using (Html.BeginForm("SaveDrugCategory", "Drug", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                                    {
                                        <div class="col-sm-8 mx-auto mt-3">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.CategoryName, new {htmlAttributes = new {@class = "form-control textbox", PlaceHolder = "Category Name"}})
                                                    @Html.ValidationMessageFor(model => model.CategoryName, "", new {@class = "text-danger"})
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <input type="submit" value="Add" class="btn btn-primary col-sm-12" style="height: 3rem"/>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@using (Html.BeginForm("SaveDrugCategory", "Drug", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-sm-8 mx-auto mt-3">
        <div class="form-group">
            <div class="col-sm-12">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control textbox", PlaceHolder = "Category Name" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input type="submit" value="Add" class="btn btn-primary col-sm-12" style="height: 3rem" />
            </div>
        </div>
    </div>

}*@