@model List<inventoryAppDomain.Entities.Drug>

<head>
    @Scripts.Render("~/bundles/js")
    <link rel="stylesheet" type="text/css" href="~/Content/datatable/datatables.min.css" />
    <script type="text/javascript" src="~/Content/datatable/datatables.min.js"></script>
</head>

@if ((string)TempData["added"] == "added")
{
    @Html.Partial("_SwaSuccessPartial")
}
<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Drug List</h4>
                        <p class="mb-0">
                            A drug dashboard lets you easily gather and visualize customer data from optimizing <br>
                            the customer experience, ensuring customer retention.
                        </p>
                    </div>

                    <a id="addDrugModal" onclick="AddDrug()" data-target="#edit-note" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add Drug</a>

                    @*<a data-toggle="modal" data-target="#edit-note" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add Drug</a>*@
                </div>
            </div>


            @if (!Model.Any())
            {
                <p>No Available drug</p>
            }
            else
            {
                <div class="col-lg-12">
                    <div class="table-responsive rounded mb-3">
                        <table id="tablee" class="display table display table mb-0 tbl-server-info">
                            <thead class="bg-white text-uppercase">
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Expiry date</th>
                                    <th>Category</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var drug in Model)
                                {

                                    <tr>
                                        <td>@drug.DrugName</td>
                                        <td>@drug.Quantity</td>
                                        <td>@drug.Price</td>
                                        <td>@drug.ExpiryDate.ToShortDateString()</td>
                                        <td>@drug.DrugCategory.CategoryName</td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge badge-info mr-2" data-toggle="modal" data-target="#edit-note" data-placement="top" title="" data-original-title="View"
                                                   href=""><i data-toggle="tooltip" data-placement="top" data-original-title="View" class="ri-eye-line mr-0"></i></a>
                                                <a onclick="EditDrug(@drug.Id)" data-target="#edit-note" class="badge bg-success mr-2"
                                                   href="#"><i data-toggle="tooltip" data-placement="top" data-original-title="Edit" class="ri-pencil-line mr-0"></i></a>
                                                <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                   href="#"><i class="ri-delete-bin-line mr-0"></i></a>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@Html.Partial("_DrugModalPartial")

@Html.Partial("_FooterPartial")


<script>
    $(document).ready(function() {
        $('#tablee').DataTable();

    });

    async function AddDrug() {
        var url = "/Drug/AddDrugForm/";
        var data = await fetch(url);
        data = await data.text();

        var modalPartial = document.getElementById("contentpage");
        modalPartial.innerHTML = data;

        $.validator.unobtrusive.parse("#form");
        $("#edit-note").modal('show');
    }

    async function EditDrug(id) {
        var url = "/Drug/UpdateDrug/" + id;
        var data = await fetch(url);
        data = await data.text();

        var modalPartial = document.getElementById("contentpage");
        modalPartial.innerHTML = data;

        $.validator.unobtrusive.parse("#form");
        $("#edit-note").modal('show');
        
    }

    function OnSuccess(data) {

        if (data.response == "success") {
            window.location.reload();
            $("#addDrugModal").modal('hide');
            $("#edit-note").modal('hide');

        } else if (data.response == null) {

            var modalPartial = document.getElementById("contentpage");
            modalPartial.innerHTML = data;

            $.validator.unobtrusive.parse("#form");
            $("#edit-note").modal('show');

        }
    }
</script>
