
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">



    <!-- Fav  Icon Link -->
    <link rel="shortcut icon" type="image/png" href="~/Content/Assets/images/fav.png">

    <link rel="stylesheet" href="~/Content/assets/css/green.css" id="style_theme">

    <script src="~/Content/assets/js/modernizr.min.js"></script>

    <title>@ViewBag.Title - ProClinic-Bootstrap4 Hospital </title>

    @Styles.Render("~/Content/template/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<!-- Pre Loader -->
<div class="loading">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--/Pre Loader -->
<div>
    @RenderBody()
</div>
@Scripts.Render("~/bundles/js")
@RenderSection("scripts", required: false)
</body>
</html>
