@using System.Web.Mvc.Html
@using inventoryAppWebUi.Models
@using Ninject.Infrastructure.Language
@model RegisterViewModel

@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div id="content">
        <div class="container-fluid">
            <span>
                <img src="~/Content/Assets/images/logo.png" class="logo" alt="logo" style="height: 50px; padding-top: 4px; margin-left: 10px">
            </span>
            <div class="row" id="formContainer">
                <div class="col-sm-6 auth-box">
                    <div class="proclinic-box-shadow" id="form">
                        <h2 class="widget-title">@ViewBag.Title</h2>
                        @using (Html.BeginForm("SignUp", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">

                                <div class="col-sm-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control textbox", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(model => model.RoleName, new SelectList(Model.Roles), "Select Role", new { @class = "form-control textbox" })

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="submit" value="Sign Up" class="btn btn-primary col-sm-12" style="height: 3rem" />
                                </div>
                            </div>

                            <div class="auth-footer-text">
                                <small>
                                    Already signed up? Login @Html.ActionLink("here", "Login")
                                </small>
                            </div>
                           
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jqueryval")
</div>

