@model inventoryAppWebUi.Models.DrugCartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-body col-lg-12">
    @if (Model.DrugCartItemsTotal > 0)
    {
        <h2>Selected Drugs</h2>
        <div class="table-responsive">
            <table class="table table-hover table-bordered text-left">
                <thead>
                    <tr class="table-success">
                        <th>Drug Name</th>
                        <th>Quantity</th>
                        <th>Price</th>

                        @*<th>Category</th>*@
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var drug in Model.CartItems)
                {
                    <tbody>
                        <tr class="info" style="cursor: pointer">
                            <td class="font-weight-bold">@drug.Drug.DrugName</td>
                            <td>@drug.Amount</td>
                            <td>@drug.Drug.Price</td>
                            @*<td>@drug.DrugCategory.CategoryName</td>*@
                            <td>
                                @Html.ActionLink("Remove From Cart", "RemoveFromShoppingCart", "DrugCart", new { drug.Id },
                                     new { @class = "btn btn-outline-primary" })
                            </td>

                        </tr>
                    </tbody>
                }
                <tfoot>
                    <tr>
                        <td>
                            @Html.ActionLink("Clear Cart", "RemoveAllCart", "DrugCart", null,
                                                         new { @class = "btn btn-default" })
                        </td>
                        <td class="text-right">Total:</td>
                        <td class="text-right">
                            @Model.DrugCartItemsTotal.ToString()
                        </td>
                        <td class="text-right">
                            @Model.DrugCartTotal.ToString("c")
                        </td>
                    </tr>
                </tfoot>
            </table>
            @Html.ActionLink("Checkout", "Invoice", "Order", null,
                                                        new { @class = "btn btn-default" })
        </div>

    }

    else
    {
        <h1>Drugs to dispense</h1>
        <p>Sorry! No available drugs have been selected.</p>
    }
</div>