@model inventoryAppWebUi.Models.DrugCartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-body col-lg-11">
    @if (Model.DrugCartItemsTotal > 0)
    {
        <h2>Selected Drugs</h2>
        <div class="table-responsive">
            <table class="table table-hover table-bordered text-left">
                <thead>
                    <tr class="table-success">
                        <th>Drug Name</th>
                        <th>Quantity</th>
                        <th>Price</th>

                        @*<th>Category</th>*@
                        <th></th>
                    </tr>
                </thead>
                @foreach (var drug in Model.CartItems)
                {
                    <tbody>
                        <tr class="info text-left" style="cursor: pointer">
                            <td class="font-weight-bold">@drug.Drug.DrugName</td> 
                            <td> <button class="badge-success increase" onclick="increase(@drug.DrugId)"> + </button>  @drug.Amount <button class="badge-danger decrease" onclick="decrease(@drug.Id)"> - </button></td>
                            <td>@drug.Drug.Price</td>
                            <td>
                                @Html.ActionLink("Remove From Cart", "RemoveFromShoppingCart", "DrugCart", new { drug.Id },
                                     new { @class = "btn btn-outline-primary" })
                            </td>

                        </tr>
                    </tbody>
                }
                <tfoot>
                    <tr>
                        <td class="text-right">Total:</td>
                        <td class="text-left">
                            @Model.DrugCartItemsTotal.ToString()
                        </td>
                        <td class="text-left" colspan="2">
                            @Model.DrugCartTotal.ToString("c")
                        </td>
                    </tr>
                   
                </tfoot>
            </table>
            <div class="row">
                <div class="col-sm-2">
                    @Html.ActionLink("Clear Cart", "RemoveAllCart", "DrugCart", null,
                   new { @class = "btn btn-danger" })
                </div>
                <div class="col-sm-2">
                    @Html.ActionLink("Checkout", "Invoice", "Order", null,
                                                           new { @class = "btn btn-success" })
                </div>
            </div>
           
        </div>

    }

    else
    {
        <h1>Drugs to dispense</h1>
        <p>Sorry! No available drugs have been selected.</p>
    }
</div>

<script>

    function increase(itemId) {
        $.post("/DrugCart/AddToShoppingCart/", { id: itemId }, function (data) {
            window.location.reload();
        });
    }

    function decrease(itemId) {
        $.post("/DrugCart/RemoveFromShoppingCart/", { id: itemId }, function (data) {
            window.location.reload();
        });
    }


</script>