@model inventoryAppWebUi.Models.ReportViewModel

@{ 

}

    <div class="container-fluid">
        <div class="row text-left">
            <!-- Widget Item -->
            <div class="col-md-12">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Orders</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-left">First Name</th>
                                    <th class="text-left">Last Name</th>
                                    <th class="text-left">Date Created</th>
                                    <th class="text-left">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var orders in Model.Orders)
                                {
                                    <tr>
                                        <td>@orders.FirstName</td>
                                        <td>@orders.LastName</td>
                                        <td>@orders.CreatedAt.ToShortDateString()</td>
                                        <td>@orders.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Widget Item -->
            @* Another Table *@
            <div class="col-md-12">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Drugs</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-left">Drug Name</th>
                                    <th class="text-left">Price</th>
                                    <th class="text-left">Quantity</th>
                                    <th class="text-left">Expiry Date</th>
                                    <th class="text-left">Drug status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var report in Model.ReportDrugs)
                                {
                                    <tr>
                                        <td>@report.DrugName</td>
                                        <td>@report.Price</td>
                                        <td>@report.Quantity</td>
                                        <td>@report.ExpiryDate.ToShortDateString()</td>
                                        <td>@report.CurrentDrugStatus</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <h2 class="widget-title" style="margin-top: 10px;">Total Revenue: </h2> <h3>@Model.TotalRevenueForReport</h3>
                </div>
            </div>
            <!--Export links-->
            <nav aria-label="Page navigation example">
                <ul class="pagination export-pagination">
                    <li class="page-item">
                        <a class="page-link" href="#"><span class="ti-printer"></span> print</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
                    </li>
                </ul>
            </nav>
            <!-- /Export links-->
            <button type="button" class="btn btn-success mb-3">
                <span class="ti-cloud-down"></span> Download
                Report
            </button>
        </div>
        <div>
        </div>
    </div>