@model inventoryAppWebUi.Models.OrderViewModel
@{
    ViewBag.Title = "Invoice";
    ViewBag.CurrentPage = "Order Checkout";
}


<div class="row">
    <div class="col-sm-6 col-md-8 auth-box text-left">
        <div class="proclinic-box-shadow">
            <h3>Checkout</h3>
            @using (Html.BeginForm("Checkout", "Order", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                <div class="form-group">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(s => s.FirstName, new {@class = "form-control textbox", PlaceHolder = "First Name"})
                        @Html.ValidationMessageFor(s => s.FirstName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(s => s.LastName, new {@class = "form-control textbox", PlaceHolder = "Last Name"})
                        @Html.ValidationMessageFor(s => s.LastName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(s => s.Email, new {@class = "form-control textbox", PlaceHolder = "Email"})
                        @Html.ValidationMessageFor(s => s.Email, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(s => s.PhoneNumber, new {@class = "form-control textbox", PlaceHolder = "Phone Number"})
                        @Html.ValidationMessageFor(s => s.PhoneNumber, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="submit" value="Complete Order" class="btn btn-primary col-sm-12"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/js")
@Scripts.Render("~/bundles/jqueryval")